.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.UserCard {
  border: solid black 2px;
  border-radius: 5px;
}
img {
  width: 100px;
  height: 100px;
}

ul{
  list-style: none;
}

li{
  display: flex;
  justify-content: left;

}

.chat-user{
  font-weight: bold;
}

.chatroom-users-title{
  display: flex;
  justify-content: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;

}

.chatbox{
  border: 2px;
  border-radius: 10px;
  align-items: left;
  width: 20%;
  outline: 30px;
  border-style: solid;
  padding: 20px;
  float: center;
}

.users-box{
  width: 200px;
  float: left;
  height: 300px;
  background-color:

}

/* .Chatroom-chat{
  display: flex;
  justify-content: right;
} */

/* .NavBar {
  text-align: center;
  font-weight: bold;
}

.NavBar a {
  padding: 0.5em 0;
  width: 10em;
  display: inline-block;

  text-decoration: none;

}

.NavBar a:hover {
  color: black;
}

.NavBar a.active {
  color: black;
  text-shadow: rgb(52, 48, 47) 0.5px 0.5px 0.5px
} */
